.footer {
  margin-top: 146px;
  padding-top: 62px;
  padding-bottom: 50px;

  background-color: $bg-secondary;
  color: $white;
}

.footer__container {
  padding-left: 25px;
  padding-right: 20px;
}

.footer__logo {
  padding-bottom: 10px;
}

.footer__text {
  font-size: 15px;
  line-height: 25px;
}

.footer__title {
  font-size: 17px;
  line-height: 25px;
  font-weight: 500;
}

.footer__list {
  margin: 0;
  padding: 13px 0 0;
  list-style: none;
}

.footer__list-item {
  margin: 0 0 15px;
  padding: 0;
}

.footer__list-link {
  font-size: 17px;
  line-height: 1;
  color: $white;

  &:hover {
    color: darken($white, 20%);
  }

  &:active {
    text-decoration: none;
  }
}

.footer__email-input {
  margin-top: 8px;
  padding: 10px 12px;
  border: none;
  width: 100%;
  border-bottom: 1px solid $white;
  background-color: transparent;
  color: white;
  font-size: 13px;

  &::placeholder {
    color: white;
  }
}

.footer__button {
  margin-top: 11px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
}

.footer__separator {
  border-bottom: rgba($white, .2) solid 1px;
}

@include media-breakpoint-down(sm) {
  .footer {
    margin-top: 80px;
  }

  .footer__title {
    margin-top: 20px;
  }
}
