.form {
  padding: 32px 35px 35px 50px;
  margin-left: 9px;

  background-color: $bg-main;
  box-shadow: 0 15px 49px rgba(0,0,0,.05);
  border-radius: 6px;
}

.form__title {
  margin-bottom: 33px;
  font-size: 27px;
  line-height: normal;
}

.form__input-label {
  font-size: 14px;
  letter-spacing: 0;
}

.form__info {
  margin-top: 35px;
  font-size: 11px;
  line-height: 1.4;
}

.form__receive-email {
  margin-top: 12px;
  margin-left: 14px;
  padding-right: 70px;
  font-size: 9.5px;
  line-height: 1.5;

  &::before {
    border-radius: 0;
    border: none;
    background-color: $color-checkbox;
  }
}

.form__button {
  display: block;
  margin-top: 8px;
  padding-top: 17px;
  padding-bottom: 17px;
  width: 87%;
  font-size: 14px;
  letter-spacing: .5px;
}

@include media-breakpoint-down(md) {
  .form__receive-email {
    padding-right: 10px;
  }
}

@include media-breakpoint-down(sm) {
  .form {
    padding: 30px 35px 35px 30px;
    margin-left: 0;
  }

  .form__button {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}
