.header {
  padding-top: 70px;
  padding-bottom: 106px;

  background-color: #030a23;
  background-image: url("../img/BG_whitepaper.jpg");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__title {
  padding-top: 104px;
  width: 50%;
  font-weight: 500;
  font-size: 53px;
  line-height: normal;
}

.header__subtitle {
  padding-top: 6px;
  width: 50%;
  font-weight: 400;
  font-size: 26px;
  line-height: normal;
}

@include media-breakpoint-down(lg) {
  .header__title {
    padding-top: 80px;
    font-size: 48px;
  }
}

@include media-breakpoint-down(md) {
  .header__title {
    padding-top: 80px;
    font-size: 40px;
  }

  .header__subtitle {
    font-size: 24px;
  }
}

@include media-breakpoint-down(sm) {
  .header__title {
    width: 100%;
  }

  .header__subtitle {
    width: 100%;
  }
}
