.news {
  padding-top: 152px;
  padding-right: 88px;
  padding-left: 20px;
}

.news__card-wrapper {
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
}

.news__card {
  padding: 50px;
  background-color: $white;

  &--important {
    .news__text {
      font-size: 22px;
    }
  }

  &--attention {
    background-color: $attention;

    .news__hashtag {
      color: $tertiary;
    }

    .news__text {
      color: $white;
    }

    .news__link {
      color: $white;
    }
  }
}

.news__hashtag {
  color: $black;
  font-size: 13px;
  line-height: normal;
}

.news__text {
  margin-bottom: 47px;
  color: $news;
  font-size: 19px;
  line-height: normal;
}

.news__link {
  color: $news-link;
  font-size: 14px;
  line-height: normal;
}

.news__image {
  width: 100%;
  height: 100%;
  background-image: url("../img/shutterstock_742230118.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.news__button {
  display: block;
  margin-top: 44px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 12px;
  padding-bottom: 12px;

  border-width: 2px;

  font-size: 14px;
  width: 18.5%;
}

@include media-breakpoint-down(md) {
  .news__button {
    width: 50%;
  }
}

@include media-breakpoint-down(sm) {
  .news {
    padding-top: 130px;
    padding-right: 0;
    padding-left: 0;
  }

  .news__card-list{
    margin-left: 0;
    margin-right: 0;
  }

  .news__card-wrapper {
    padding-right: 0;
    padding-left: 0;
  }

  .news__image {
    min-height: 250px;
  }

}
