.social {
  list-style: none;
  margin: 0;
  padding: 5px 9px;
}

.social__item {
  margin-left: 12px;
}

.social__icon {
  width: 25px;
  height: 25px;
  fill: $white;

  &:hover {
    fill: darken($white, 20%);
  }

  &:active {
    fill: darken($white, 40%);
  }
}
