.subscribe-block {
  margin-top: 75px;

  background-color: #104b88;
  background-image: url("../img/subscription_bg.jpg");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-block__container{
  padding: 70px 70px 67px;
}

.subscribe-block__title {
  margin-bottom: 5px;
  font-size: 27px;
  font-weight: 500;
  line-height: normal;
}

.subscribe-block__text {
  margin-bottom: 0;
  font-size: 17.5px;
  line-height: normal;
}

.subscribe-block__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 17px;
  padding-bottom: 17px;

  border-width: 2px;

  color: inherit;
  font-size: 14px;
  width: 45%;
}

@include media-breakpoint-down(sm) {
  .subscribe-block__text {
    margin-bottom: 40px;
  }

  .subscribe-block__button {
    width: 100%;
  }
}
