.text-content {
  position: relative;

  padding-top: 145px;
  padding-bottom: 100px;
}

.text-content__title {
  padding-bottom: 14px;
  width: 50%;
  font-weight: 500;
  font-size: 30px;
  line-height: normal;
}

.text-content__text {
  margin-right: 50px;
  margin-bottom: 22px;
  font-size: 13.5px;
  line-height: 20px;
}

.text-content__list {
  padding-left: 20px;
  list-style: none;

  font-weight: 500;
}

.text-content__list-item {
  position: relative;

  &::before {
    content: "✓";
    display: block;
    position: absolute;
    left: -20px;
    top: 0;
    font-weight: 500;
    font-size: 16px;

  }
}

@include media-breakpoint-down(lg) {
  .text-content__title {
    width: 100%;
  }

}

@include media-breakpoint-down(sm) {
  .text-content {
    position: static;
    padding-top: 115px;
    padding-bottom: 50px;
  }

  .text-content__text {
    margin-right: 0;
  }

}
