$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1185px
);

$line-height-base: 1;

$form-group-margin-bottom: 1.7rem;
$label-margin-bottom: .7rem;
$input-border-color: #ebebeb;
$input-border-radius: 0;

$custom-checkbox-indicator-border-radius: 0;

$theme-colors: (
  bg-main: #fbfbfb,
  light: #fffdfd,
  dark: #222222,
  secondary: #777777,
  tertiary: #fefefe,
  quaternary: #3e80d6,
  info: #125393,
  form: #3db1a3,
);

$bg-main: #fbfbfb;
$bg-secondary: #020a2e;
$color-checkbox: #ebebeb;
$news: #565656;
$news-link: #0c0a93;
$attention: #114d8d;
$tertiary: #fefefe;
