@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Regular.woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Bold.woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Proxima Nova", "Arial", sans-serif;
}
